@font-face {
	font-family: "Proxi";
	src: url(../font/Proxi.woff);
	font-weight: 400;
}

html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: "Proxi";
	font-size: 15px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
}

section.main-container {
	max-width: 800px;
	margin: 0 auto;
}

.block {
	height: 100%;
}

.block__inner {
	width: 100%;
}

.block__inner.heading {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}

.block__inner-left {
	float: left;
	width: 160px;
	height: 160px;
	border: 5px solid #eeeded;
	border-radius: 50%;
}

.content .content--interests {
	display: inline;
}

.avatar {
	text-align: left;
	left: 0;
	margin-right: 15px;
	color: white;
	background-image: url(../img/profile.jpg);
	background-size: cover;
}

.block__title {
	font-size: 16px;
}

.main-name {
	font-size: 26px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(25, 25, 25, 0.49);
	left: 0;
	top: 0;
}

.experience {
	margin: 30px 0;
}

.half-border {
	position: absolute;
	bottom: -10px;
	width: 40%;
	left: 0;
	border: 2px solid #eeeded;
}

.content {
	margin-bottom: 50px;
}

.project {
	margin: 30px 0;
}

.interests {
	overflow: auto;
}

.meta-title {
	font-size: 17px;
	margin: 10px 0;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

.relative {
	position: relative;
}

@media screen and (max-width: 768px) {
	.section {
		margin-top: 40%;
	}

	.block__inner-right .block-content {
		top: 110%;
	}

	.block--left {
		background-color: #4dfeee;
		width: 100%;
		height: 70vh;
		position: relative;
	}
}

.block--right {
	position: relative;
	left: 50%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.block--right {
		width: 100%;
		height: auto;
		position: static;
	}
}

.block__inner {
	padding: 40px 20px 40px 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.block__inner {
		padding: 1rem;
	}
}

.block__title {
	position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.block__inner.heading {
		align-items: flex-start;
		justify-content: start;
	}

	.block-content {
		position: absolute;
		margin: 5px;
		top: 30vh;
	}

	.arrow {
		text-align: center;
		width: 90vw;
	}
}

.block__social {
	position: relative;
	z-index: 20;
}

.block__social a {
	text-decoration: none;
	display: inline-block;
}

.block__social img {
	width: 20px;
	height: 20px;
	border-radius: 4px;
}

.social_icons {
	padding: 0 5px;
}

.icons {
	display: inline;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skills .skill {
	border: 1px solid #d4d4d4;
	padding: 4px 10px;
	border-radius: 15px;
	display: inline-block;
	margin: 5px 5px 5px 0;
}

.copyright {
	margin-top: 50px;
	font-size: 15px;
}

.arrow {
	text-align: center;
	cursor: pointer;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(50px);
	}

	40% {
		transform: translateY(40px);
	}

	60% {
		transform: translateY(40px);
	}
}

.blog_icon {
	padding: 5px;
	text-decoration: none;
}